<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Guess</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script>
        </script>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the Great Number Game!</h1>
            <h5>I am thinking of a number between 1 and 100</h5>
            <h5>Take a guess!</h5>
            <% if (guess)  { %>
                <% if (guess < number) { %>
                    <div class="box incorrect col-xs-4">
                        <p>Too Low!</p>
                    </div>
                <% } else if (guess > number) { %>
                    <div class="box incorrect col-xs-4">
                        <p>Too High!</p>
                    </div>
                <% } else if (guess == number) { %>
                    <div class="box correct col-xs-4">
                        <p>Correct! <%= guess %> was the number!</p>
                        <a href="/restart" class="btn btn-success">Play Again</a>
                    </div>
                <% } %>
            <% } %>
            <% if (guess != number) { %>
                <form action="/submit" method="post">
                    <input id="guess" type="int" name="guess">
                    <input type="submit" value="Submit">
                </form>
            <% } %>
            
        </div>
    </body>
</html>